/* crearcuenta.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

.contenedor-login {
    background-color: #3d3ae6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: auto;
}

.contenedor-login input[type="text"],
.contenedor-login input[type="password"],
.contenedor-login input[type="time"],
.contenedor-login select,
.contenedor-login textarea,
.contenedor-login button,
.contenedor-login .boton-sesion,
.contenedor-login .boton-olvidado,
.contenedor-login .boton-crear-cuenta {
    width: calc(100% - 30px); /* Ajuste para dejar espacio para el borde */
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: border-box; /* Asegura que el padding se tenga en cuenta en el ancho */
}

.contenedor-login input[type="text"]::placeholder,
.contenedor-login input[type="password"]::placeholder,
.contenedor-login input[type="time"]::placeholder,
.contenedor-login select,
.contenedor-login textarea,
.contenedor-login .boton-sesion,
.contenedor-login .boton-olvidado,
.contenedor-login .boton-crear-cuenta {
    color: #999;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.foto-usuario {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.boton-registrarse,
.boton-iniciar {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: #f9f9f9;
    color: black;
    cursor: pointer;
}

.boton-registrarse:hover,
.boton-iniciar:hover {
    background-color: #ccc;
}

.dia-horario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.dia-horario label {
    flex: 1;
}

.dia-horario input[type="time"] {
    flex: 1;
    margin: 0 10px;
}
